<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('about') }}">about</a>
    <a href="{{ url_for('achivements') }}">Achivements</a>
    <a href="{{ url_for('project') }}">Projects</a>

    <h1>About Me</h1>
    <p>Hey there! I'm Chol, a 17-year-old programmer from Mesquite, Texas, with a massive passion for software engineering and robotics. I spend most of my free time tinkering with code and finding ways to automate or analyze the things I enjoy.My core languages are Python, Java, HTML, and CSS. I love mixing my hobbies with my projects—whether that's running statistical analysis on NFL schedules, building custom automation tools with libraries like CustomTkinter, or analyzing Clash Royale decks. Right now, I'm balancing my robotics projects with intense Java practice for upcoming UIL Computer Science competitions!</p>
    <a href="https://github.com/WeakMindz">
        <img src="https://jsdelivr.net" alt="GitHub Logo" width="32" height="32" />
    </a>

    
</body>
</html>